body {
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
    font-family: Montserrat, sans-serif;
  }
  .card {
    display: flex;
    justify-content: space-around;
    padding: 10px 15px;
  }
  .card-1 {
    padding: 10px;
  }
  .card a {
    color: rgb(52, 102, 227);
    text-decoration: none;
    padding: 10px;
  }
  .card_left {
    display: flex;
  }
  
  .card_left .logo1 {
    width: 30px;
    height: 30px;
  }
  .card_left .logo2 {
    color: #333;
    font-weight: bold;
    font-size: 20px;
  }
  
  .cold{
    background-color: #f9f9f9;
    padding: 10px 20px;
    border-radius: 5px;
    border: rgb(38, 178, 238) solid;
    color: rgb(38, 178, 238);
  }
  .intro {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .intro_1 b {
    /* text-decoration: underline;
    text-decoration-color: #ffa500; */
    border-bottom: 3px solid #ffa500;
  }
  .intro img {
    width: 25%;
    height: 60%;
  }
  .intro_1 {
    padding: 80px;
  }
  .intro h1 {
    margin-bottom: 0;
  }
  
  .intro p {
    margin-top: 0;
  }
  
  .button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #47c2ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .cool_1 {
    padding: 30px 100px;
    grid-area: box1;
  }
  .cool_2 {
    padding: 30px;
    grid-area: box2;
  }
  .cool_3 {
    grid-area: box3;
  }
  
  .cool {
    height: 600px;
    justify-content: space-around;
    display: grid;
    grid-template-areas:
      "box1 box2"
      "box3 box3";
  }
  .card1 {
    grid-area: card1;
  }
  .card2 {
    grid-area: card2;
  }
  .card3 {
    grid-area: card3;
  }
  .card4 {
    grid-area: card4;
  }
  .card5 {
    grid-area: card5;
  }
  .card6 {
    grid-area: card6;
  }
  .card7 {
    grid-area: card7;
  }
  .card8 {
    grid-area: card8;
  }
  
  .box_3 {
    display: grid;
    grid-template-areas:
      "card1 card2 card3 card4 card5"
      "card0 card6 card7 card8 card10";
    place-items: center;
    justify-content: space-evenly;
  }
  .icon {
    display: flex;
    letter-spacing: 5px;
    color: rgb(0, 120, 120);
  }
  .chu {
    color: rgb(0, 120, 120);
  }
  table {
    padding: 20px;
  }
  .hi {
    padding: 0px 20px;
  }
  img {
    width: 55px;
    height: 90px;
  }
  
  .card1,
  .card2,
  .card3,
  .card4,
  .card5,
  .card6,
  .card7,
  .card8 {
    display: flex;
    place-content: center;
    width: 215px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  .card1_android {
    margin-left: 15px;
  }
  .img6,
  .img8 {
    width: 50px;
    height: 70px;
  }
  .card6,
  .card7,
  .card8 {
    width: 250px;
    place-items: center;
    transform: translateY(-50px);
  }
  .mid1 {
    display: flex;
    height: 225px;
    justify-content: space-evenly;
  }
  .main-text {
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0px;
  }
  .sub-text {
    font-size: 16px;
  }
  .email-input {
    margin-top: 20px;
    padding: 10px;
    height: 20px;
    width: 200px;
    border-radius: 5px;
  }
  .input {
    display: flex;
    margin-right: 215px;
  }
  .send-button {
    margin-top: 20px;
    height: 45px;
    width: 110px;
    padding: 10px 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  h3 {
    text-align: start;
  }
  .bootom_top {
    text-align: center;
  }
  .card2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 10px;
  }
  
  .card2 li {
    float: left;
  }
  
  .card2 li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .card2 li a:hover {
    border-bottom: 2px solid #00ff00;
  }
  .mid_bot-card1,
  .mid_bot-card2,
  .mid_bot-card3,
  .mid_bot-card4,
  .mid_bot-card5 {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 90%;
    width: 300px;
  }
  .mid_bot-card1 {
    grid-area: the1;
  }
  .mid_bot-card2 {
    grid-area: the2;
  }
  .mid_bot-card3 {
    grid-area: the3;
  }
  .mid_bot-card4 {
    grid-area: the4;
  }
  .mid_bot-card5 {
    grid-area: the5;
  }
  .mid {
    margin-left: 200px;
  }
  .mid_bot {
    display: grid;
    margin-left: 25px;
    width: 1000px;
    grid-template-areas:
      "the1 the2 the3"
      "the4 the5 the0";
  }
  .mid_bot-card1-h1 {
    width: 45px;
    height: 50px;
    background-color: #f7becf9a;
  }
  .com-1-card1-h2,
  .com-1-card1-h3,
  .com-1-card1-h4,
  .com-1-card1-h5 {
    width: 50px;
    height: 50px;
    background-color: #dbdbdb9a;
  }
  .com-1-card1-1,
  .com-1-card1-2,
  .com-1-card1-3,
  .com-1-card1-4,
  .com-1-card1-5 {
    display: flex;
    place-items: center;
  }
  .com-1-card1-bot1,
  .com-1-card1-bot2,
  .com-1-card1-bot3,
  .com-1-card1-bot4,
  .com-1-card1-bot5
  
  
   {
    margin-left: 10px;
  }
  .com-1-card1-a1,
  .com-1-card1-a2,
  .com-1-card1-a3,
  .com-1-card1-a4,
  .com-1-card1-a5
   {
    display: flex;
  }
  .com-1-a1 div,
  .com-1-a2 div,
  .com-1-ba3 div,
  .com-1-a4 div,
  .com-1-a5 div
   {
    color: rgb(0, 157, 255);
    font-size: 10px;
    padding: 5px 5px;
    background-color: #dad2d49a;
    margin-top: 15px;
    border-radius: 5px;
    margin-right: 5px;
  }
  .xanh {
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    background-color: rgb(210, 255, 210);
    color: rgb(0, 255, 0);
    font-weight: bold;
    width: 70px;
    height: 35px;
    margin-left: 675px;
    border-radius: 5px;
  }